<mat-card class="homeCard">
  <mat-card-header>
    <mat-card-title >
      Market Business Intelligence
    </mat-card-title>
    <mat-card-subtitle>
      Plataforma Call Center & Businness Intelligence
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://medios.marketbi.co/market/images/logo.jpg" alt="logo">
  <br/>
  <mat-card-content>
    <p> Nuestra solución le permite contar con la información las 24 horas 
      al día los 365 días del año en tiempo real, ingresando de a través de una 
      interfaz con perfiles de usuario, esta interfaz es agil y eficiente, independiente 
      de la ubicación y con gran facilidad a la hora de obtener información.
    </p>
    <h1>¿Tu callcenter aun no te suministra datos en tiempo real?</h1>
    <a href="https://www.marketbi.co">Visitanos</a>
    <br/>
    <br/>
    <button mat-button color="primary" (click)="goLogin()">Ingresar a plataforma</button>
  </mat-card-content>
</mat-card>