.content{
    width: 100%;
    font-family: roboto;
}
h1{
    font-size: 17px;
}
.head1{
    width: 100%;
    

}
.head1 .mat-form-field{
    width: 40%;
    margin-left:10px;
    
}
.head2{
    
    display: inline-block;  
}
.gestion-contactos{
    margin-top:10px;
    width: 50%;
}
.gestion-contactos mat-card-title{
    font-size: 13px;
}
.buttons-contact{
    display: inline-block;
    margin-left: 5px;
    margin: auto;
   
}
.buttons-contact button{
    font-size:10px; 
}
.buttons-group-filters{
    width: 49%;
    display: inline-block;
    margin: auto;
}
.buttons-group-filters button{
    margin: auto;
}
.select-group-filters{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}