<div class="content">
  <mat-card class="campaign-head"><h1>Campaña: {{campaign.id}} {{campaign.nombre}}</h1>
    <br/>
    <div class="head1">
          <mat-form-field>
            <input matInput value="CLIENTE" placeholder="CLIENTE" value="{{campaign.id_cliente.nombre}}" readonly #message>
          </mat-form-field>
          <mat-form-field>
              <input matInput value="FECHA CREACION" placeholder="FECHA CREACION" value="{{campaign.fecha_creacion}}" readonly #message>
          </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="gestion-contactos">
    <mat-card-header>
      <mat-card-title>Gestion de Contactos y filtros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="buttons-group-filters">
        <div class="buttons-contact"><button mat-button color="primary"><mat-icon class="icons"  >add_to_queue</mat-icon><br>Siguiente</button></div>
        <div class="buttons-contact"><button mat-button color="primary"><mat-icon class="icons"  >spa</mat-icon><br>Liberar</button></div>
      </div>
      <div class="select-group-filters">
        <form class="selectEmpresaForm" [formGroup]="selectEmpresaForm">
          <mat-form-field class="example-full-width">
            <!--<input type="text" placeholder="Empresas" aria-label="Assignee" matInput formControlName="empresaSelect" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmpresasFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.id_cliente.nombre}}
              </mat-option>
            </mat-autocomplete>-->
            <mat-select placeholder="Empresas Asignadas" formControlName="empresaSelect">
              <mat-option *ngFor="let option of Campaigns"  [value]="option.id_cliente" >
                {{option.id_cliente.nombre}}
              </mat-option>
            </mat-select>
           
          </mat-form-field>
          <div>
              <mat-form-field>
                <mat-select placeholder="FiltroPais" formControlName="paisSelect">
                <mat-option *ngFor="let option of Campaigns"  [value]="option.id_cliente" >
                 {{option.id_cliente.nombre}}
                </mat-option>
                </mat-select>
          
              </mat-form-field>
          </div>
          <div></div>
          <div></div>
        </form>
        
      </div>
    </mat-card-content>
  </mat-card>
    <br/>
   
    
      

</div>