<div class="content">
  <mat-card class="campaign-head"><h1>Campaña: {{campaign.id}} {{campaign.nombre}}</h1>
    <br/>
    <div class="head1">
          <mat-form-field>
            <input matInput value="CLIENTE" placeholder="CLIENTE" value="{{campaign.id_cliente.nombre}}" readonly #message>
          </mat-form-field>
          <mat-form-field>
              <input matInput value="FECHA CREACION" placeholder="FECHA CREACION" value="{{campaign.fecha_creacion}}" readonly #message>
          </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="gestion-contactos">
    <mat-card-header>
      <mat-card-title>Gestion de Contactos y filtros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="buttons-group-filters">
        <div class="buttons-contact"><button mat-button color="primary"><mat-icon class="icons"  >add_to_queue</mat-icon><br>Siguiente</button></div>
        <div class="buttons-contact"><button mat-button color="primary"><mat-icon class="icons"  >spa</mat-icon><br>Liberar</button></div>
      </div>
      <div class="select-group-filters">
       
          
            <form class="selectEmpresaForm" [formGroup]="selectEmpresaForm">
              <mat-form-field class="example-full-width">
                
                <mat-select placeholder="Empresas Asignadas" formControlName="empresaSelect" >
                  <mat-option *ngFor="let option of Campaigns"  [value]="option.id_contacto" >
                    {{option.id_contacto.nombre}}
                  </mat-option>
                </mat-select>
              
              </mat-form-field>
              <div class="inline">
                  <mat-form-field>
                    <mat-select placeholder="FiltroPais" formControlName="paisSelect" (selectionChange)="filterPais()">
                    <mat-option *ngFor="let options of datapaises"  [value]="options.id" >
                    {{options.nombre}}
                    </mat-option>
                    </mat-select>
              
                  </mat-form-field>
              </div>
              <div class="inline"> 
                <mat-form-field>
                  <mat-select placeholder="Filtro Departamento" formControlName="deparmentSelect">
                  <mat-option *ngFor="let options of datadepartament"  [value]="options.id" >
                  {{options.nombre}}
                  </mat-option>
                  </mat-select>
            
                </mat-form-field>
              </div>
              <div>
                
                  <mat-form-field>
                    <mat-select placeholder="Filtro Ciudad" formControlName="ciudadSelect">
                    <mat-option *ngFor="let options of datacities"  [value]="options.id" >
                    {{options.nombre}}
                    </mat-option>
                    </mat-select>
              
                  </mat-form-field>
              </div>
       
            </form>
         
    
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="gestion-empresa">
    <mat-card-header>
      <mat-card-title>Empresa: {{current.nombre}} </mat-card-title>
    </mat-card-header>
    <mat-card-content> 
        <mat-icon>call</mat-icon>
      <mat-form-field class="margin-left">
      <input matInput  placeholder="Telefono Principal" value="{{current.telefonoa}} - {{current.id_ciudad.indicativo}}" readonly #message>
    </mat-form-field>
    <mat-icon>call</mat-icon>
    <mat-form-field  class="margin-left">
        <input matInput  placeholder="Telefono Secundario" value="{{current.telefonob}} - {{current.id_ciudad.indicativo}}" readonly #message>
    </mat-form-field>
    <mat-form-field  class="margin-left">
        <input matInput  placeholder="Ciudad" value="{{current.id_ciudad.nombre}}" readonly #message>
    </mat-form-field>
    <br/>
    <mat-form-field  class="margin-left">
        <input matInput  placeholder="Departamento" value="{{current.id_departamento.nombre}}" readonly #message>
    </mat-form-field>
    <mat-form-field  class="margin-left">
        <input matInput  placeholder="Pais" value="{{current.id_pais.nombre}}" readonly #message>
    </mat-form-field>
    <mat-form-field  class="margin-left">
        <input matInput  placeholder="Vertical" value="{{current.vertical}}" readonly #message>
    </mat-form-field>
    </mat-card-content>
    </mat-card>
    <br/>
   
    
      

</div>