.mat-toolbar-logo{
width: 190px;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .example-icon {
    padding: 0 14px;
  }
mat-card-content{
  text-align: center;
}
mat-card{
  width: 500px;
  margin: auto;
}
.loginBox
{
  margin-top: 100px;
  vertical-align: middle;
}
input{
  width: 100%;
}
mat-form-field
{
  width: 100%;
}
mat-spinner{
  margin: auto;
}